<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="world_config_path" default="$(find semantics_manager)/config/config.yaml"/>
  <arg name="output" default="screen"/>
  <arg name="rofl" default="True"/>

  <include file="$(find svcpp)/launch/rofl_odom.launch" if="$(arg rofl)"/>

  <include file="$(find top_down_render)/launch/top_down_render.launch" pass_all_args="True">
    <arg name="init_param_path" value="$(find semantics_manager)/maps/pennovation2/init_conditions.yaml"/>
    <arg name="output" value="log"/>

    <arg name="filter_pos_cov" value="0.005"/>
    <arg name="filter_theta_cov" value="0.001"/>

    <arg name="map_pub_scale" value="0.2"/>
  </include>

  <include file="$(find spomp)/launch/local.launch" pass_all_args="True">
    <arg name="TP_slope_thresh" value="0.3"/>
    <arg name="TP_inflation_m" value="0.6"/>
  </include>

  <include file="$(find spomp)/launch/mapper.launch" pass_all_args="True">
    <arg name="viz_thread_period_ms" value="10000"/>
    <arg name="M_pgo_thread_period_ms" value="10000"/>
  </include>

  <include file="$(find spomp)/launch/global.launch" pass_all_args="True">
    <arg name="TM_unvis_start_thresh" value="0.02"/>

    <arg name="TG_reach_node_max_dist_m" value="5"/>
    <arg name="TG_trav_window_rad" value="0.3"/>
  </include>
</launch>
